In [41]:
import pandas as pd

df = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
df.dropna(inplace=True)

df['year']='0'
df['month']='0'

for i in range(len(df)):
    if "-" in df['dt'].iloc[i]:
        df['year'].iloc[i] = df['dt'].iloc[i][0:4]
        df['month'].iloc[i] = df['dt'].iloc[i][5:7]
    else:
        length = len(df['dt'].iloc[i])
        df['year'].iloc[i] = df['dt'].iloc[i][length - 4:length]
        if "/" in df['dt'].iloc[i][0:2]:
            df['month'].iloc[i] = "0" + df['dt'].iloc[i][0]
    
#df = df.groupby(['dt', 'Country']).AverageTemperature.mean()
#df.to_csv("cleaned_data_GloabLandTemperaturesByCountry.csv")

                dt  AverageTemperature   Country  year month
0       1743-11-01               4.384     Åland  1743    11
5       1744-04-01               1.530     Åland  1744    04
6       1744-05-01               6.702     Åland  1744    05
7       1744-06-01              11.609     Åland  1744    06
8       1744-07-01              15.342     Åland  1744    07
10      1744-09-01              11.702     Åland  1744    09
11      1744-10-01               5.477     Åland  1744    10
12      1744-11-01               3.407     Åland  1744    11
13      1744-12-01              -2.181     Åland  1744    12
14      1745-01-01              -3.850     Åland  1745    01
15      1745-02-01              -6.575     Åland  1745    02
16      1745-03-01              -4.195     Åland  1745    03
17      1745-04-01              -0.966     Åland  1745    04
74      1750-01-01               1.091     Åland  1750    01
75      1750-02-01               0.809     Åland  1750    02
76      1750-03-01               0.923     Åland  1750    03
77      1750-04-01               3.943     Åland  1750    04
78      1750-05-01               6.265     Åland  1750    05
79      1750-06-01              12.408     Åland  1750    06
80      1750-07-01              16.683     Åland  1750    07
81      1750-08-01              17.076     Åland  1750    08
82      1750-09-01              11.459     Åland  1750    09
83      1750-10-01               2.627     Åland  1750    10
85      1750-12-01              -4.058     Åland  1750    12
86      1751-01-01              -3.408     Åland  1751    01
87      1751-02-01              -8.393     Åland  1751    02
88      1751-03-01              -0.122     Åland  1751    03
89      1751-04-01               2.159     Åland  1751    04
91      1751-06-01              10.688     Åland  1751    06
92      1751-07-01              15.660     Åland  1751    07
...            ...                 ...       ...   ...   ...
577431    3/1/2011              23.668  Zimbabwe     0     0
577432    4/1/2011              21.759  Zimbabwe     0     0
577433    5/1/2011              19.627  Zimbabwe     0     0
577434    6/1/2011              16.939  Zimbabwe     0     0
577435    7/1/2011              15.803  Zimbabwe     0     0
577436    8/1/2011              17.883  Zimbabwe     0     0
577437    9/1/2011              22.902  Zimbabwe     0     0
577438   10/1/2011              24.966  Zimbabwe     0     0
577439   11/1/2011              25.521  Zimbabwe     0     0
577440   12/1/2011              24.013  Zimbabwe     0     0
577441    1/1/2012              23.872  Zimbabwe     0     0
577442    2/1/2012              24.294  Zimbabwe     0     0
577443    3/1/2012              23.596  Zimbabwe     0     0
577444    4/1/2012              20.349  Zimbabwe     0     0
577445    5/1/2012              19.712  Zimbabwe     0     0
577446    6/1/2012              16.631  Zimbabwe     0     0
577447    7/1/2012              16.048  Zimbabwe     0     0
577448    8/1/2012              18.946  Zimbabwe     0     0
577449    9/1/2012              22.609  Zimbabwe     0     0
577450   10/1/2012              23.482  Zimbabwe     0     0
577451   11/1/2012              24.606  Zimbabwe     0     0
577452   12/1/2012              24.111  Zimbabwe     0     0
577453    1/1/2013              23.812  Zimbabwe     0     0
577454    2/1/2013              24.075  Zimbabwe     0     0
577455    3/1/2013              23.226  Zimbabwe     0     0
577456    4/1/2013              21.142  Zimbabwe     0     0
577457    5/1/2013              19.059  Zimbabwe     0     0
577458    6/1/2013              17.613  Zimbabwe     0     0
577459    7/1/2013              17.000  Zimbabwe     0     0
577460    8/1/2013              19.759  Zimbabwe     0     0

[544811 rows x 5 columns]
dt                    6/1/1916
AverageTemperature      10.086
Country                  Åland
year                      1916
month                       06
Name: 2071, dtype: object